article
{
    color:  rgb(30, 5, 36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* background-attachment: fixed;
    background-image: url();
    background-size: 400px 200px;
    background-repeat: no-repeat;
    background-position: center;*/
    
}
h2
{
    text-align: center;
    letter-spacing: 2mm;
    word-spacing: 4mm;
    text-transform: uppercase;
    font-size: 30px;
}
#gif
{
    background-image: url(preloader.gif);
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: 15px 15px;
    font-size: 0.5px;
}
body
{
    background: papayawhip url(PicsArt_07-18-11.24.05.png) no-repeat center fixed;
    background-size: 600px 400px;
}
p{
    color: mediumvioletred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}